.button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0px 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button.secondary {
    background-color: #28a745; /* Verde que indica acción o confirmación */
  }
  
  .button.secondary:hover {
    background-color: #218838; /* Un tono más oscuro de verde para el efecto hover */
  }
  
  .button.danger {
    background-color: #dc3545;
  }
  
  .button.danger:hover {
    background-color: #c82333;
  }
  