.container-gondola {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 20px;
}

.form-container-gondola {
  width: 45%; /* Ajusta este valor según necesites más o menos espacio para el formulario */
  margin-right: 20px;
  margin-top: 40px;
}

.map-container {
  width: 50%; /* Ajusta este valor según necesites más o menos espacio para el mapa */
  padding: 20px;
}

/* Añadir una nueva clase para la fila y las columnas específicas */
.row {
  display: flex;
  justify-content: space-between;
}

.column-left, .column-right {
  width: 48%; /* Ajustar según se necesite */
}

/* Ajustar si se requiere más espaciado o un diseño más preciso */
.column-left > * {
  margin-bottom: 20px; /* Espacio entre los campos */
}

.column-right > * {
  margin-bottom: 20px; /* Espacio entre los campos */
}
