/* CreateSuper.css */

.form-group-super {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr; /* Dos columnas iguales */
  gap: 0px; /* Espacio entre columnas */
  margin-bottom: 20px;
  margin-top: 40px;
  margin-right: 20px;
}

.form-group-super .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bold-text {
  font-weight: bold;
  color: black;
}
