/* CreateSuper.css */

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr; /* Dos columnas iguales */
  gap: 0px; /* Espacio entre columnas */
  margin-bottom: 20px;
  margin-top: 40px;
  margin-right: 20px;
}

.form-group .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-item {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  flex-direction: column; /* Cambia a columna para apilar elementos verticalmente */
  align-items: center;
  position: relative;
}

label {
  width: 100px; /* Ajusta el ancho del label según sea necesario */
}

.error-message {
  color: red;
  font-size: 12px;
  position: absolute; /* Permite que el mensaje de error se superponga */
  bottom: -8px; /* Ajusta según sea necesario para la distancia entre el campo y el mensaje */
}

input[type="text"],
input[type="number"] {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 70%;
  align-items: right;
}

.entradaSalidaButton {
  background-color: #fff700f6;
  color: #000000;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.entradaSalidaButton:hover {
  background-color: #def700;
}

.bold-text {
  font-weight: bold;
  color: black;
}
