.label {
  font-size: 16px;
  margin-right: 10px;
  align-items: center;
}

.container-label {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
