/* MapaCompleto.css */

.mapa-completo-container {
  display: flex;
  gap: 20px; /* Espacio entre el mapa y la lista de góndolas */
}

.mapa-container {
  flex: 1; /* Ocupa el espacio disponible a la izquierda */
  align-content: flex-start;
  margin-top: 20px;
}

.lista-gondolas-container {
  flex: 1; /* Ocupa el espacio disponible a la derecha */
}

:root {
  --numAncho: 0;
  --numLargo: 0;
}
.cuadricula {
  display: grid;
  grid-template-columns: repeat(var(--numAncho), auto);
  grid-template-rows: repeat(var(--numLargo), auto); /* Ancho de las columnas basado en el ancho */
  justify-content: center;
  gap: 4px; /* Espacio entre los cuadros */
  align-content: stretch;
  align-items: end;
}

.cuadro-blanco {
  width: calc(2px * var(--numAncho)); /* Ancho de cada cuadro blanco */
  height: calc(2px * var(--numLargo)); /* Alto de cada cuadro blanco */
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.numerosColumna {
  color: black;
  position: relative;
  margin-bottom: 10px;

}

.numerosFila {
  color: black;
  position: relative;
  padding-right: 12px;

}

.entrada{
  color: green;
}

.salida{
  color: red;
}

.gondolaOcupada {
  color: blue; /* Color cuando hay una góndola */
}

.idGondola {
  color: rgb(255, 255, 255);
  font-weight: bold;
  width: auto;
  position: relative;
  text-align: center;
  justify-content: center;
}
