/* mapa.css */

:root {
  --numAncho: 0;
  --numLargo: 0;
}
.cuadricula {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(var(--numAncho), auto);
  grid-template-rows: repeat(var(--numLargo), auto); /* Ancho de las columnas basado en el ancho */
  justify-content: center;
  gap: 4px; /* Espacio entre los cuadros */
  align-content: stretch;
  align-items: end;
}

.cuadro-blanco {
  width: calc(2px * var(--numAncho)); /* Ancho de cada cuadro blanco */
  height: calc(2px * var(--numLargo)); /* Alto de cada cuadro blanco */
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.numerosColumna {
  color: black;
  position: relative;
  font-weight: bold;
  display: flex;
  align-items: center;
  /*center: 100%; /* Agrega esta línea para mover el texto hacia la izquierda */
  justify-content: flex-start; /* Para alinear los elementos a la izquierda */
  flex-direction: column;

}

.numerosFila {
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content; /* Para alinear los elementos a la izquierda */
}

.entrada{
  color: green;
}

.salida{
  color: red;
}

.gondolaOcupada {
  color: blue; /* Color cuando hay una góndola */
}

.idGondola {
  color: blue;
  font-weight: bold;
  width: fit-content;
}
