.titulos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fila {
  display: flex;
  align-items: center; /* Alinea los elementos en el centro verticalmente */
  justify-content: center; /* Alinea los elementos al principio de la fila */
  width: 100%;
  max-width: 400px; /* Ajusta el tamaño máximo de la fila */
  margin-bottom: 10px;
  flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
}

.container-cuadrado {
  flex: 0 0 auto; /* Evita que el cuadrado se reduzca o crezca */
}

.fila .label {
  flex: 1; /* Permite que el texto ocupe el espacio restante */
  overflow: hidden; /* Opcional: oculta el desbordamiento de texto */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
