.button-container {
  margin-bottom: 20px;
}

.button-crear-producto {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.producto-list {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: space-between; /* Espacio entre las columnas */
  max-width: 800px; /* Ajuste para dos columnas */
  margin: 0 auto; /* Centrar el contenedor */
}

.producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  width: calc(50% - 10px); /* Ajuste para dos columnas con espacio */
  min-width: 300px; /* Ancho mínimo para todos los productos */
  box-sizing: border-box; /* Asegura que padding y border no influyan en el ancho */
  background-color: #1d9a833d;
  cursor: pointer;
}

.producto-info {
  display: flex;
  flex-direction: column;
}

.producto-nombre {
  font-size: 18px;
}

.producto-conDescuento,
.producto-marca,
.producto-categoria,
.producto-precioUnidad {
  font-size: 14px;
  color: #777;
}

.producto-conDescuento,
.producto-precioUnidad {
  font-weight: bold;
}

.producto-sinStock {
  font-size: 14px;
  color: red;
}

.producto-buttons {
  display: flex;
  flex-direction: row;
  color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

.precio-tachado {
  text-decoration-line: line-through;
  text-decoration-color: red;
}

.row-button {
  margin-bottom: 5px;
  margin-top: 5px;
}

.crear-producto-label {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
